#user-container{
    flex-flow: wrap;
    justify-content: center;
    padding-left: 25%;
    padding-top: 80px;
    margin-bottom: 20px;
    background-color:#242526;
    padding-bottom: 40px;
}

img {

    border-radius: 50%;
    width: 180px;
    clip-path: circle();
   margin-right: 8px;
}
#user{
    display: flex;
    flex-direction: row;
}
#details{
    padding-top: 30px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    color: azure;
    font-size: 35px;
}
#friends{
    font-size: 20px;
    color: #b0b3b8;
    padding-top: 15px;
}

#posts {
    width: 100%;
}
app-display-posts{
    color: azure;
    display: flex;
    justify-self: center;
    margin-left: 25%;
    width: 50%;

    flex-direction: column;
    align-items: center;
}