img{
    
    width: 40px;
    clip-path: circle();
   margin-right: 8px;
   
}

#author{
margin-left: 1px;

font-style: var(font-family);
font-weight: bold;
padding-bottom: 5px;
padding-top: 5px;
border-radius: 20px;
}
#author:hover{
    background-color: #b0b3b8;
    cursor: pointer;
}