img{
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

#author{
margin-left: 1px;
margin-bottom: 10px;
font-style: var(font-family);
font-weight: bold;

}
#box {
    margin-top: 70px;
    padding-left: 1%;
    
}
.logout{
    margin-top: 100%;
    align-self: flex-end;
}