img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
button{
    margin-left: 15px;
    width:fit-content;
}
#user-box {
    margin-bottom: 10px;
    padding: 10px;
}
#container {
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
}
#user-box:hover{
    background-color:#b0b3b8;
}