#box{
    display: flex;
    width: 100%;
    background-color: #18191a;
    color:azure
    
}
#right-side{
    margin-left: 30px;
    width: 20%;
   
}
#main-content{
    width: 50%;
    margin-top: 50px;
}
#left-side{
    width:30%;
}
app-display-posts{
    color: azure;
    display: flex;
    justify-self: center;
    margin-left: 10px;
    width: 80%;
    flex-direction: column;
    align-items: center;
}