#box{
    display: flex;
    width: 100%;
    background-color: #18191a;
    color:azure
}
#right-side{
    margin-left: 30px;
    width: 20%;
   
}
#main-content{
    width: 50%;
}
#left-side{
    width:30%;
}