#box{
    display: flex;
    width: 100%;
    background-color: #18191a;
    color:azure
    
}
#right-side{
    margin-left: 30px;
    width: 20%;
   
}
#main-content{
    width: 50%;
    margin-top: 50px;
}
#left-side{
    width:30%;
}
app-display-posts{
    color: azure;
    display: flex;
    justify-self: center;
    margin-left: 10px;
    width: 80%;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    #left-side{
        display: none;
    }    
    #main-content{
        width: 70%;
    }
    #right-side{
        margin-left: 0px;
        width: 20%;
       
    }
}
@media only screen and (max-width: 600px) {
 
    #main-content{
        margin-top: 110px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #right-side{
       display: none;
    }
    app-post-adding-form{
    
        width: 100%;
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}