
<div id="post-container" *ngFor="let post of posts">
    <div id="author">
        <span>
            <img [src]="post.user.photoUrl">
        </span>
       <span id="details">
            <span (click)="showProfileClick(post.user.id)">
                {{post.user.firstName}} {{post.user.lastName}}
            </span>
            
            <span id="date">
                {{post.postDate | date}} {{post.postDate | date:'shortTime'}}
            </span>
       </span>
       
    </div>
    <div id="description">{{post.description}}</div>
    <div class="row">
        <p class="col">Likes: {{post.likes}}</p>
        <button type="button" class="btn btn-success" (click)="likeButtonClick(post)">Like</button>
    </div>
</div>

